@import "../css/reset.css";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap");

:root {
  --blackpure: #000;
  --black: #171718;
  --black-border: #26292d;
  --white: #fff;
  --purple: #5c62ec;

  --text-color: var(--black);
  --dark-bg: var(--black);
  --dark-border: var(--black-border);
  --header-text: var(--white);
  --accent: var(--purple);
}

html,
body {
  font-family: "DM Sans", sans-serif;
  letter-spacing: -0.5px;
  color: var(--text-color);
  /* font-family: 'Poppins', sans-serif;*/
}

/*General*/

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.none{
  display: none !important;
}

.title-1 {
  margin-bottom: 60px;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.3;
  color: var(--accent);
  text-align: center;
}

.title-2 {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.3;
}

/*Header*/

.header {
  padding: 20px 0;
  background-color: var(--dark-bg);
  color: var(--header-text);
  border-bottom: 1px solid var(--black-border);
  letter-spacing: normal;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
}

.nav-list {
  display: flex;
  gap: 40px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.logo {
  color: var(--header-text);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
}

.logo strong {
  font-weight: 700;
}

.list-item {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.nav-list-link {
  position: relative;
  color: var(--header-text);
  transition: opacity 0.2s ease-in;
}

.nav-list-link:hover {
  opacity: 0.8;
}

.nav-list-link-active::before {
  position: absolute;
  left: 0;
  top: 100%;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: var(--accent);
}

/*Main*/

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 695px;
  padding: 40px 40px;
  text-align: center;
  background: url(../assets/Abstract.png) no-repeat center;
  background-color: var(--dark-bg);
  color: var(--header-text);
}
.welcome-wrapper {
  padding: 0 15px;
  max-width: 660px;
}
.welcome-title {
  margin-bottom: 20px;
  font-size: 40px;
  line-height: 1.4;
  color: var(--header-text);
}

.welcome-title p + p {
  margin-top: 1em;
}

.welcome-title strong {
  font-size: 60px;
  font-weight: 700;
}

.welcome-title em {
  font-style: normal;
  font-weight: 700;
  color: var(--accent);
}

.welcome-subtitle {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  color: var(--header-text);
}
.btn {
  display: inline-block;
  height: 48px;
  padding: 12px 28px;
  letter-spacing: 0.15px;
  border-radius: 5px;
  background-color: var(--accent);
  color: var(--header-text);
}

.btn:hover {
  opacity: 0.8;
}

.btn:active {
  position: relative;
  top: 1px;
}


/*Projects*/ 

.projects {
  padding: 70px 0;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;

}
.projects-list-item {
  max-width: 370px;
  background: var(--white);
  box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.projects-list-pic {
  border-radius: 10px;
}
.projects-list-title {
  padding: 20px 20px 25px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
  color: var(--text-color);
}

/* Skills */

.skills-wrapper{
  padding: 70px 0;
}

.content-list {
  max-width: 570px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.content-list-item {
  font-size: 18px;
  line-height: 1.5;
}

.content-list-item p + p{
  margin-top: 0.5em;
}
/* Project Details*/

.project {
  padding: 70px 0;
}

.project-details {
  max-width: 865px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.project-details-cover {
  max-width: 100%;
  margin-bottom: 40px;
  filter: drop-shadow(0px 5px 35px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
}
.project-details-desc {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
}
.btn-outline {
  display: flex;
  column-gap: 10px;
  align-items: center;
  height: 48px;
  padding: 12px 20px;
  border-radius: 5px;
  border: 1px var(--blackpure) solid;
  color: var(--blackpure);
}

.btn-outline:hover {
  opacity: 0.8;
}

.btn-outline:active {
  position: relative;
  top: 1px;
}


/*Footer*/

.footer {
  padding: 60px 0 50px;
  background: var(--dark-bg);
  color: var(--header-text);
  
}
.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 27px;
}
.social-list {
  display: flex;
  align-items: center;
  column-gap: 30px;
}
.social-list-item {
}
.copyright p + p{
  margin-top:  0.5em;
}